*{
	margin:0px;
	padding: 0px;
	font-family: '微软雅黑'
}
#grade{
	width: 700px;
	margin: 140px auto 0px;
}
#grade .li{
	float: left;
	width: 220px;
	text-align: center;
}
#grade .search{
	text-align: center;
    line-height: 60px;
    background: #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#grade .li span{
	display: inline-block;
	cursor: pointer;
	font-weight: bolder;
}
#grade .head,#grade .main{
	height: 40px;
	line-height: 40px;
	background: #ddd;
}